In [11]:
import pandas as pd
credits = pd.read_csv("the-movies-dataset/credits.csv")
keywords = pd.read_csv("the-movies-dataset/keywords.csv")
links = pd.read_csv("the-movies-dataset/links.csv")
metadata = pd.read_csv("the-movies-dataset/movies_metadata.csv")
ratings = pd.read_csv("the-movies-dataset/ratings.csv")

C:\Users\woja6494\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
print(credits['cast'].iloc[0])

[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [15]:
result = pd.merge(credits, keywords, on='id')

In [ ]:
temp = pd.merge(metadata,links, on = 'imdbID')

In [ ]:
temp2 = pd.merge(temp,ratins, on='movie')

print(result.iloc[0])

In [5]:
import pandas as pd
credits = pd.read_csv("the-movies-dataset/credits.csv")
keywords = pd.read_csv("the-movies-dataset/keywords.csv")
links = pd.read_csv("the-movies-dataset/links.csv")
metadata = pd.read_csv("the-movies-dataset/movies_metadata.csv")
ratings = pd.read_csv("the-movies-dataset/ratings.csv")

/Users/mfawaz/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
print(credits['cast'].iloc[0])

[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [63]:

print(metadata.shape)
cleanmeta = metadata[(metadata['adult'] == 'False') & (metadata['revenue'] != 0)]
cleanmeta['budget'] = cleanmeta.budget.astype(float)
cleanmeta['id'] = cleanmeta.id.astype(int)

cleanmeta = cleanmeta[cleanmeta['budget']!=0]
print(cleanmeta.shape)
cleanmeta.head()

(45466, 24)
(5381, 24)

/Users/mfawaz/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/mfawaz/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
8,False,NaN,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0

In [56]:
result = pd.merge(credits, keywords, on='id')
result.head(100)

,cast,crew,id,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam..."
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325,[]
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
10,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087,"[{'id': 833, 'name': 'white house'}, {'id': 84..."
11,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12110,"[{'id': 3633, 'name': 'dracula'}, {'id': 11931..."
12,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",21032,"[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n..."
13,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858,"[{'id': 840, 'name': 'usa president'}, {'id': ..."
14,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,"[{'id': 911, 'name': 'exotic island'}, {'id': ..."
15,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,"[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
16,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
17,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
18,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
19,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517,"[{'id': 380, 'name': 'brother brother relation..."
20,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...",8012,"[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
21,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...",1710,"[{'id': 796, 'name': 'police brutality'}, {'id..."
22,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...",9691,"[{'id': 271, 'name': 'competition'}, {'id': 44..."
23,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...",12665,"[{'id': 7345, 'name': 'dead animal'}, {'id': 1..."
24,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...",451,"[{'id': 30, 'name': 'individual'}, {'id': 549,..."
25,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...",16420,"[{'id': 497, 'name': 'shakespeare'}, {'id': 93..."
26,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...",9263,"[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
27,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...",17015,"[{'id': 1316, 'name': 'captain'}, {'id': 33384..."
28,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...",902,"[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n..."
29,"[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de...",37557,"[{'id': 964, 'name': 'servant'}, {'id': 2311, ..."
...,...,...,...,...
70,"[{'cast_id': 1, 'character': 'Max Kirkpatrick'...","[{'credit_id': '52fe44949251416c75039d5f', 'de...",11859,"[{'id': 258, 'name': 'bomb'}, {'id': 416, 'nam..."
71,"[{'cast_id': 1, 'character': 'Grover', 'credit...","[{'credit_id': '52fe4592c3a368484e062d3f', 'de...",28387,"[{'id': 3616, 'name': 'college'}]"
72,"[{'cast_id': 4, 'character': 'Henri Fortin / J...","[{'credit_id': '52fe4773c3a36847f81365ef', 'de...",48750,"[{'id': 90, 'name': 'paris'}, {'id': 745, 'nam..."
73,"[{'cast_id': 1, 'character': 'Lewis Farrell', ...","[{'credit_id': '52fe4402c3a368484e00a745', 'de...",20927,"[{'id': 2778, 'name': 'florist'}, {'id': 10235..."
74,"[{'cast_id': 1, 'character': 'David Leary', 'c...","[{'credit_id': '52fe461a9251416c910493c7', 'de...",36929,"[{'id': 10624, 'name': 'bully'}]"
75,"[{'cast_id': 1, 'character': 'Colonel Hendrick...","[{'credit_id': '560c446892514171a000645b', 'de...",9102,"[{'id': 312, 'name': 'man vs machine'}, {'id':..."
76,"[{'cast_id': 14, 'character': 'Herself', 'cred...","[{'credit_id': '52fe4ab0c3a368484e161cd5', 'de...",124626,[]
77,"[{'cast_id': 1, 'character': 'Freddy Gale', 'c...","[{'credit_id': '52fe4550c3a368484e0531bb', 'de...",27526,"[{'id': 6381, 'name': 'loss of daughter'}, {'i..."
78,"[{'cast_id': 1, 'character': 'Annie Laird', 'c...","[{'credit_id': '52fe4512c3a36847f80bae13', 'de...",9623,"[{'id': 1417, 'name': 'jurors'}, {'id': 1936, ..."
79,"[{'cast_id': 1001, 'character': 'Razieh', 'cre...","[{'credit_id': '546e168cc3a36817e300003f', 'de...",46785,"[{'id': 1357, 'name': 'fish'}, {'id': 10594, '..."
80,"[{'cast_id': 3, 'character': ""Jimmy 'The Saint...","[{'credit_id': '52fe423ec3a36847f800f319', 'de...",400,"[{'id': 494, 'name': 'father son relationship'..."
81,"[{'cast_id': 11, 'character': 'Antonia', 'cred...","[{'credit_id': '52fe4286c3a36847f8025ccf', 'de...",880,"[{'id': 236, 'name': 'suicide'}, {'id': 240, '..."
82,"[{'cast_id': 2, 'character': 'Poppa', 'credit_...","[{'credit_id': '52fe4b889251416c75106047', 'de...",146599,"[{'id': 6984, 'name': 'racial segregation'}, {..."
83,"[{'cast_id': 2, 'character': 'Oona Hart', 'cre...","[{'credit_id': '52fe4d3c9251416c7513477d', 'de...",188588,[]
84,"[{'cast_id': 1, 'character': 'William Adamson'...","[{'credit_id': '52fe44aac3a36847f80a3273', 'de...",8447,"[{'id': 4034, 'name': 'class society'}, {'id':..."
85,"[{'cast_id': 1, 'character': ""Captain Christop...","[{'credit_id': '52fe43829251416c7501325d', 'de...",10534,"[{'id': 2082, 'name': 'sailing trip'}, {'id': ..."
86,"[{'cast_id': 2, 'character': 'Robert Grant', '...","[{'credit_id': '52fe47239251416c7508f08d', 'de...",17414,"[{'id': 5306, 'name': 'boss'}, {'id': 5572, 'n..."
87,"[{'cast_id': 1, 'character': 'Mike Donnelly', ...","[{'credit_id': '52fe45c09251416c75061479', 'de...",13997,"[{'id': 169078, 'name': 'nitrous oxide'}, {'id..."
88,"[{'cast_id': 11, 'character': 'Gene Watson', '...","[{'credit_id': '52fe4333c3a36847f80421a3', 'de...",2086,"[{'id': 441, 'name': 'assassination'}, {'id': ..."
89,"[{'cast_id': 3, 'character': 'August King', 'c...","[{'credit_id': '561cd5b6c3a3682256003a59', 'de...",61548,[]
90,"[{'cast_id': 1, 'character': 'Mary Reilly', 'c...","[{'credit_id': '568abecfc3a36860e902bbc0', 'de...",9095,"[{'id': 964, 'name': 'servant'}, {'id': 1299, ..."
91,"[{'cast_id': 12, 'character': 'Maximillian | P...","[{'credit_id': '52fe44c09251416c7503fc9f', 'de...",12158,"[{'id': 3133, 'name': 'vampire'}, {'id': 3630,..."
92,"[{'cast_id': 10, 'character': ""Tommy 'Birdman'...","[{'credit_id': '52fe44e1c3a36847f80af905', 'de...",9283,"[{'id': 155808, 'name': 'hometown'}]"
93,"[{'cast_id': 1, 'character': ""Maj. Vic 'Deak' ...","[{'credit_id': '52fe44dcc3a36847f80ae6f9', 'de...",9208,"[{'id': 720, 'name': 'helicopter'}, {'id': 126..."
94,"[{'cast_id': 3, 'character': 'Henry', 'credit_...","[{'credit_id': '52fe4583c3a36847f80cb93b', 'de...",40154,"[{'id': 14531, 'name': 'play'}, {'id': 185011,..."
95,"[{'cast_id': 2, 'character': 'Vinz', 'credit_i...","[{'credit_id': '52fe423fc3a36847f800f88b', 'de...",406,"[{'id': 90, 'name': 'paris'}, {'id': 376, 'nam..."
96,"[{'cast_id': 1, 'character': 'Jo', 'credit_id'...","[{'credit_id': '52fe46c8c3a36847f8111c21', 'de...",45549,[]
97,"[{'cast_id': 2, 'character': 'Narrator', 'cred...","[{'credit_id': '52fe469ac3a368484e099bcb', 'de...",63076,"[{'id': 2398, 'name': 'narration'}, {'id': 123..."
98,"[{'cast_id': 1, 'character': 'Mayor John Pappa...","[{'credit_id': '571fb8ccc3a368775b0032ff', 'de...",11062,"[{'id': 417, 'name': 'corruption'}, {'id': 156..."
99,"[{'cast_id': 1, 'character': 'Anthony Adams', ...","[{'credit_id': '52fe458b9251416c7505a35b', 'de...",13685,"[{'id': 380, 'name': 'brother brother relation..."

In [13]:
temp = pd.merge(links, ratings, on = 'movieId')
temp.head()

   movieId  imdbId  tmdbId  userId  rating   timestamp
0        1  114709   862.0       8     4.0  1013443596
1        1  114709   862.0       9     4.5  1073837180
2        1  114709   862.0      12     4.0   943912205
3        1  114709   862.0      20     4.0  1368361348
4        1  114709   862.0      24     4.0   979869938

In [14]:
temp2 = pd.merge(result,metadata, on='id')
temp2.head()

Empty DataFrame
Columns: [cast, crew, id, keywords, adult, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 27 columns]

print(result.iloc[0])

In [66]:
#actors = pd.merge(credits, metadata, on='id')
# cleanmeta.merge(credits, left_on='id', right_on='id', how='inner')
# print(cleanmeta)
cleanmeta = pd.merge(credits, cleanmeta, on='id')
cleanmeta.head(100)
# actors.head()
#actors.head()
#print(credits.head())
#print(actors['cast'][0])


#credits.set_index('id').join(cleanmeta.set_index('id'))

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
3,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0113277,en,...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
4,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,False,NaN,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0114576,en,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
5,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,tt0113189,en,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
6,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087,False,NaN,62000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0112346,en,...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
7,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858,False,NaN,44000000.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,tt0113987,en,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
8,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,False,NaN,98000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0112760,en,...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
9,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,False,NaN,52000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,tt0112641,en,...,1995-11-22,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
10,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584,False,NaN,16500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0114388,en,...,1995-12-13,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
11,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,False,NaN,4000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,tt0113101,en,...,1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
12,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,tt0112281,en,...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
13,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0113845,en,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
14,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...",8012,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,tt0113161,en,...,1995-10-20,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0
15,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...",9691,False,NaN,50000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0112401,en,...,1995-10-06,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
16,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...",451,False,NaN,3600000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,tt0113627,en,...,1995-10-27,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
17,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...",9263,False,NaN,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114011,en,...,1995-10-20,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
18,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...",902,False,NaN,18000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,tt0112682,fr,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
19,"[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'credit_id': '52fe4212c3a36847f8001ac7', 'de...",63,False,NaN,29500000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,tt0114746,en,...,1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0
20,"[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'credit_id': '52fe450fc3a36847f80b9ff7', 'de...",9598,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt0112431,en,...,1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756.0
21,"[{'cast_id': 7, 'character': 'Sister Helen Pre...","[{'credit_id': '52fe426ac3a36847f801cf35', 'de...",687,False,NaN,11000000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0112818,en,...,1995-12-29,39363635.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,False,7.3,350.0
22,"[{'cast_id': 1, 'character': 'Lord Rayden', 'c...","[{'credit_id': '52fe44e6c3a36847f80b0899', 'de...",9312,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,tt0113855,en,...,1995-08-18,122195920.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452.0
23,"[{'cast_id': 4, 'character': 'Suzanne Stone Ma...","[{'credit_id': '52fe4255c3a36847f8015f49', 'de...",577,False,NaN,20000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt0114681,en,...,1995-05-20,21284514.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177.0
24,"[{'cast_id': 1, 'character': 'Finn Dodd', 'cre...","[{'credit_id': '52fe44959251416c75039e1d', 'de...",11861,False,NaN,10000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0113347,en,...,1995-10-06,23574130.0,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,False,6.5,38.0
25,"[{'cast_id': 17, 'character': 'Detective David...","[{'credit_id': '52fe4279c3a36847f802176f', 'de...",807,False,NaN,33000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,tt0114369,en,...,1995-09-22,327311859.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915.0
26,"[{'cast_id': 1, 'character': 'Pocahontas (voic...","[{'credit_id': '52fe43819251416c75013087', 'de...",10530,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,tt0114148,en,...,1995-06-14,346079773.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509.0
27,"[{'cast_id': 19, 'character': 'Michael McManus...","[{'credit_id': '52fe4260c3a36847f8019a7d', 'de...",629,False,NaN,6000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,tt0114814,en,...,1995-07-19,23341568.0,106.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334.0
28,"[{'cast_id': 1, 'character': 'Lenny', 'credit_...","[{'credit_id': '5692510dc3a3684d0b001b02', 'de...",11448,False,NaN,15000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0113819,en,...,1995-09-13,6700000.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mighty Aphrodite,False,6.7,145.0
29,"[{'cast_id': 1, 'character': 'Craig Jones', 'c...","[{'credit_id': '52fe43999251416c75016ad5', 'de...",10634,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000.0,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,tt0113118,en,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,"[{'cast_id': 1, 'character': 'Nick Reve', 'cre...","[{'credit_id': '52fe44d8c3a36847f80ad76d', 'de...",9071,False,NaN,500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt0113677,en,...,1995-01-20,1148752.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nick is about to discover the first rule of fi...,Living in Oblivion,False,7.2,64.0
71,"[{'cast_id': 13, 'character': 'Brodie Bruce', ...","[{'credit_id': '52fe434bc3a36847f80492e5', 'de...",2293,False,NaN,6000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113749,en,...,1995-10-20,2122561.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're not there to shop. They're not there t...,Mallrats,False,6.8,400.0
72,"[{'cast_id': 2, 'character': 'Kimberly Hart / ...","[{'credit_id': '52fe44d8c3a36847f80ad707', 'de...",9070,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,tt0113820,en,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0
73,"[{'cast_id': 22, 'character': 'Billy Hughes', ...","[{'credit_id': '52fe4775c3a36847f8136af1', 'de...",48787,False,NaN,2.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 10769,...",NaN,tt0110604,en,...,1995-09-28,1.0,95.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,She Can't Speak. She Can't Scream. She Can't B...,Mute Witness,False,6.4,36.0
74,"[{'cast_id': 1, 'character': 'Angela Bennett/R...","[{'credit_id': '52fe4307c3a36847f80351b3', 'de...",1642,False,"{'id': 328073, 'name': 'Síť (kolekce)', 'poste...",22000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt0113957,en,...,1995-07-28,110627965.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"No driver's license, no credit cards, no passp...",The Net,False,5.6,359.0
75,"[{'cast_id': 1, 'character': 'Mary', 'credit_i...","[{'credit_id': '52fe45d39251416c9103fb61', 'de...",36196,False,NaN,150000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0114095,en,...,1995-06-09,472370.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sassy, savvy and definitely clued-in!",Party Girl,False,5.8,14.0
76,"[{'cast_id': 9, 'character': 'Gabriel', 'credi...","[{'credit_id': '52fe44af9251416c7503d5e5', 'de...",11980,False,"{'id': 9068, 'name': 'The Prophecy Collection'...",8.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,tt0114194,en,...,1995-09-01,16.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"On ancient ground, at the edge of the world, a...",The Prophecy,False,6.4,139.0
77,"[{'cast_id': 1, 'character': 'Hester Prynne', ...","[{'credit_id': '52fe43829251416c750131e7', 'de...",10533,False,NaN,50000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0114345,en,...,1995-10-13,10382407.0,135.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,When intimacy is forbidden and passion is a si...,The Scarlet Letter,False,5.5,111.0
78,"[{'cast_id': 10, 'character': 'Nomi Malone', '...","[{'credit_id': '52fe43ba9251416c7501bc57', 'de...",10802,False,"{'id': 247294, 'name': 'Showgirls Collection',...",45000000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0114436,en,...,1995-09-22,20350754.0,128.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Beyond your wildest dreams. Beyond your wildes...,Showgirls,False,4.9,261.0
79,"[{'cast_id': 11, 'character': ""Augustus 'Auggi...","[{'credit_id': '52fe43359251416c75007a57', 'de...",10149,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",7000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114478,en,...,1995-06-09,8349430.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where there's smoke... there's laughter!,Smoke,False,7.2,115.0
80,"[{'cast_id': 5, 'character': 'Sil', 'credit_id...","[{'credit_id': '52fe44ebc3a36847f80b1d4b', 'de...",9348,False,"{'id': 9887, 'name': 'Species Collection', 'po...",35000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,tt0114508,en,...,1995-07-07,113374103.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Our time is up.,Species,False,5.5,457.0
81,"[{'cast_id': 9, 'character': 'Lenny Nero', 'cr...","[{'credit_id': '52fe4231c3a36847f800b39d', 'de...",281,False,NaN,42000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.strange-days.com,tt0114558,en,...,1995-10-13,7959291.0,145.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You know you want it.,Strange Days,False,6.8,334.0
82,"[{'cast_id': 2, 'character': 'Leann Netherwood...","[{'credit_id': '52fe49dbc3a368484e143acd', 'de...",79593,False,NaN,14000000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0114666,en,...,1995-09-08,5780000.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Tie That Binds,False,4.6,9.0
83,"[{'cast_id': 21, 'character': 'Casey Ryback', ...","[{'credit_id': '52fe4397c3a36847f8060209', 'de...",3512,False,"{'id': 112399, 'name': 'Under Siege Collection...",60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0114781,en,...,1995-07-13,104324083.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Last time he rocked the boat. This time the sk...,Under Siege 2: Dark Territory,False,5.6,217.0
84,"[{'cast_id': 1, 'character': 'Paul Sutton', 'c...","[{'credit_id': '52fe450ac3a36847f80b8b79', 'de...",9560,False,NaN,20000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0114887,en,...,1995-08-11,50012507.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A man in search. A woman in need. A story of f...,A Walk in the Clouds,False,6.5,168.0
85,"[{'cast_id': 1, 'character': 'Mariner', 'credi...","[{'credit_id': '52fe4530c3a36847f80c1447', 'de...",9804,False,NaN,175000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,tt0114898,en,...,1995-07-28,264218220.0,135.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Beyond the horizon lies the secret to a new be...,Waterworld,False,5.9,1017.0
86,"[{'cast_id': 3, 'character': 'Col. Sergei Petr...","[{'credit_id': '52fe47d7c3a36847f814b2ad', 'de...",50797,False,"{'id': 23170, 'name': 'Burnt by the Sun Trilog...",2800000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0111579,ru,...,1994-05-01,2616503.0,135.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,A moving and poignant story set against the co...,Burnt by the Sun,False,6.7,35.0
87,"[{'cast_id': 4, 'character': 'Jesse', 'credit_...","[{'credit_id': '52fe4214c3a36847f80023e1', 'de...",76,False,"{'id': 123800, 'name': 'Before... Collection',...",2500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0112471,en,...,1995-01-27,5535405.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Can the greatest romance of your life last onl...,Before Sunrise,False,7.7,984.0
88,"[{'cast_id': 1, 'character': 'Billy Madison', ...","[{'credit_id': '52fe43e49251416c7502210f', 'de...",11017,False,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0112508,en,...,1995-02-10,26488734.0,89.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,Billy is going back to school... Way back.,Billy Madison,False,6.2,464.0
89,"[{'cast_id': 1, 'character': 'Jane Deluca', 'c...","[{'credit_id': '52fe44f0c3a36847f80b2ef3', 'de...",9382,False,NaN,21000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0112571,en,...,1995-02-03,23450000.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A motion picture that celebrates the art of su...,Boys on the Side,False,6.3,48.0
90,"[{'cast_id': 7, 'character': 'Dante Hicks', 'c...","[{'credit_id': '52fe434ac3a36847f8049259', 'de...",2292,False,"{'id': 182813, 'name': 'Clerks Collection', 'p...",27000.0,"[{'id': 35, 'name': 'Comedy'}]",http://www.miramax.com/movie/clerks/,tt0109445,en,...,1994-09-13,3151130.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because they serve you doesn't mean they ...,Clerks,False,7.4,769.0
91,"[{'cast_id': 1, 'character': 'Don Juan deMarco...","[{'credit_id': '52fe4320c3a36847f803c60d', 'de...",1909,False,NaN,25000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,tt0112883,en,...,1994-10-01,22200000.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story of the man who thought he was the gr...,Don Juan DeMarco,False,6.3,184.0

In [75]:
# import json
# actorsstring = actors['cast'][0]
# actorsstring = actorsstring.replace("\'", "\"")
# parsed_json = json.loads(actorsstring)
from ast import literal_eval

# python_dict = literal_eval(actors['cast'][0])
# python_dict[0]['character']

python_dict = [];
for i in range(len(cleanmeta)):
    tempdic = literal_eval(cleanmeta['cast'][i])
    python_dict = tempdic +python_dict
actordict = pd.DataFrame(python_dict)

actordict.drop_duplicates(subset='id',inplace=True)
actordict.sort_values(by='id', inplace=True)
actordict.head(5000)

,cast_id,character,credit_id,gender,id,name,order,profile_path
69723,78,Baron Papanoida,584a4128c3a368141f01b620,2,1,George Lucas,24,/mDLDvsx8PaZoEThkBdyaG1JxPdf.jpg
6360,0,The Joker (voice),56bde12c925141734d003684,2,2,Mark Hamill,1,/ws544EgE5POxGJqq9LUfhnDrHtV.jpg
16885,2,William Jones,54720ed292514112e70085bb,2,3,Harrison Ford,2,/7CcoVFTogQgex2kJkXKMe8qHZrC.jpg
19171,7,Princess Leia Organa,52fe4a959251416c750e7137,1,4,Carrie Fisher,5,/pbleNurCYdrLFQMEnlQB2nkOR1O.jpg
85184,14,Buchhändler,52fe44b7c3a36847f80a61bf,2,5,Peter Cushing,2,/fg7ufC0IMr6VasQzzdmTtX5ycQF.jpg
4023,114,C-3PO,585375739251411a4602b913,2,6,Anthony Daniels,11,/cljvryjb3VwTsNR7fjQKjNPMaBB.jpg
8406,22,Crush (voice),5711829b9251410a68000ae0,2,7,Andrew Stanton,12,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
45760,57,Additional Voice (voice),5617f1659251412af2002fd7,2,8,Lee Unkrich,40,/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg
1191,54,Chick Hicks,59443007c3a36816f60002d5,2,10,Bob Peterson,17,/13YNM8lBKnK26MYd2Lp3OpU6JdI.jpg
8410,27,Passenger Carl (voice),575a9ef6c3a3684188000f8c,2,12,Alexander Gould,17,/c4EHOhxzwx7uDBxC8zODvKAEFGX.jpg
8395,3,Marlin (voice),52fe4af8c3a368484e1707af,2,13,Albert Brooks,1,/kahlMTdygrPJ28VYRhKPavYD9hs.jpg
8394,2,Dory (voice),52fe4af8c3a368484e1707ab,1,14,Ellen DeGeneres,0,/4LG2bFkqOzxzR1kpnoDcwIVuQTG.jpg
7368,26,Krang (voice),573e9d99c3a3687add0014df,2,18,Brad Garrett,13,/wXihtlnIvqP2oSNj33hiorDd3v9.jpg
5709,10,Detective Sgt. Riley,57167558c3a3682e65004b95,1,19,Allison Janney,5,/fido6hwI8tFSZNt6HtP2DZH2eu6.jpg
7211,154,Phyllis Adler,58c130d7925141731a0085dc,1,20,Elizabeth Perkins,56,/bkdWnnrMADJcFpKAOitMjQH3uEQ.jpg
32805,25,Great Goblin,52fe4784c3a36847f8139fc9,2,22,Barry Humphries,16,/ccJHmzU8wzOe4sAmeVeScu5mygl.jpg
44415,23,Bubo (voice),52fe45bcc3a36847f80d7a91,2,23,Bill Hunter,12,/zCWRTbsiCKiHapWm2JRjIUHrpbS.jpg
4750,0,Robert Langdon,5475a40dc3a3687fd9000e10,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
11948,10,General Antiope,5685eeefc3a3684bcc01ef2d,1,32,Robin Wright,2,/tXfQTgcIEPP7gtVdJ44ZxZPhacn.jpg
25517,113,The Smithsonian Narrator (voice),5897bfb89251417a8a001105,2,33,Gary Sinise,63,/n5AbjoNfONICaggp2f1QhYAjAoZ.jpg
3681,5,Gabriel Maxson,57150dea9251413d2200091b,2,34,Mykelti Williamson,5,/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg
9101,3,Doris Miller,54c1c13a92514124c800288f,1,35,Sally Field,0,/ymhpsxujOO3a9qaGYSpkenCt9Le.jpg
75537,3,Louis XVIII,52fe45009251416c9102435d,2,40,Orson Welles,2,/2DF3e98c7GGa1uJJvpgIiMPg0h2.jpg
95053,33,Selma Jezkova,52fe420fc3a36847f8000a17,1,47,Björk,0,/cnsDUT4YeiEl8zCxYvRJCczqEnf.jpg
9511,0,Severus,554db205c3a3685e4c006e2b,2,48,Sean Bean,3,/iIxP2IzvcLgr5WaTBD4UfSqaV3q.jpg
4639,1,Molly McGrath,53eb38070e0a265f50000e6d,1,49,Maria Bello,4,/tFkbad0JoWvYc6XYBITv6EfeLwR.jpg
11651,6,Le Juge,54fef88e9251410e56001823,1,50,Catherine Deneuve,2,/7MgouLf2vVhv275LtL7JFL1vWji.jpg
21941,53,Childers,597216b59251417fa6011187,2,51,Richard Elfyn,19,/vaj3r7Wfezb5j2eVv7dIFiJXyyQ.jpg
11265,9,Mike Webster,54c88500c3a36874ac005498,2,52,David Morse,4,/5PuSGfBw3Hsdo5jkhZ59NDFCZUm.jpg
2760,5,Abram,56cf3b9fc3a3681e36002e10,2,53,Peter Stormare,11,/dDR0brp5L7fXDyEywrhjQv01LSg.jpg
...,...,...,...,...,...,...,...,...
72846,22,Michael Llewelyn Davies,52fe4284c3a36847f802533f,0,13013,Luke Spill,9,/6tC5bniiCcpW0fBnvlso8y8C20h.jpg
415,9,Eric Gray,56f4a481c3a3682746000ca0,2,13014,Toby Jones,4,/hgRb81zSEimHXbW8wgDtarg4n5K.jpg
56807,21,Detective Hunter Rush,52fe453bc3a36847f80c349f,2,13021,William Baldwin,16,/1G9Y076nnZaobTAtzRefZd8rFNN.jpg
43051,6,Warden,52fe45c0c3a36847f80d87df,2,13022,Tom Berenger,5,/gueEBgqv1sWFemMXyI4TJ2peuMA.jpg
12625,8,Vivian,5342cb7dc3a368150f003a99,1,13023,Colleen Camp,4,/7NpmkGzDJCQ7neUMXhWJ96OaDMf.jpg
30315,62,Ensign Brackett,54691d7422136e68da0015ce,1,13024,Amanda Foreman,13,/4mQwnkSDfilJmzxG19vn8L4V6q0.jpg
76242,15,Bithiah,52fe4466c3a36847f8093af1,1,13026,Nina Foch,8,/jd5qWtnZdEvfwuo57CpJVzazYc0.jpg
123427,21,Gus Hale,52fe4284c3a36847f80253e7,2,13027,Keene Curtis,8,/3HqgRBvzWSnKb18Oi2W9rq63O1B.jpg
21127,43,D8 Male Patient,54f8e359c3a36843eb0000b4,2,13028,Nicholas Pryor,25,/jqJVM5jEVq2Xqi8G5fO0iiEnd5O.jpg
74289,73,Woman at Fire,55ddf67ac3a3681761002903,0,13029,Anne Betancourt,54,/6UU5P4DzjJTSBFztIu1nALT2tk0.jpg
9158,44,Lt. Colonel Ed Walsh,571477ecc3a36860a800ea71,2,13079,Gavin Hood,12,/1W4NlD5YpGHnXdD2HGeG9bWSqYV.jpg
66094,14,Tsotsi,52fe4285c3a36847f8025481,2,13091,Presley Chweneyagae,0,/8eZa8H7r5ufGfbe7PgolVBvDHJc.jpg
38351,69,Administrator,595bd22ec3a3680d5902b8a2,2,13092,Jerry Mofokeng,30,/xSnWVREh2XqjH4rsM3hjHBLuhbB.jpg
4346,6,Naledi Khama,57d3ecbb925141609e003763,1,13093,Terry Pheto,4,/gS2fXmjnnsnXess2k2AZ6mct5sU.jpg
50417,14,Thomas,52fe473c9251416c7509239d,2,13094,Kenneth Nkosi,11,/1SLAxQJUYRFWSj7shaSvt4AImJM.jpg
66098,18,Butcher,52fe4285c3a36847f8025491,0,13095,Zenzo Ngqobe,4,None
66099,19,Fela,52fe4285c3a36847f8025495,0,13097,Zola,5,None
66100,20,John Dube,52fe4285c3a36847f8025499,2,13098,Rapulana Seiphemo,6,None
48329,74,Trophy Wife,57a371fbc3a3683f970029a5,0,13100,Nambitha Mpumlwana,34,None
52406,61,Venice Broadwalk Jogger,58aec916c3a3683556005b08,2,13101,Ian Roberts,32,/vv9A5AJt1r8dY0WMcmfIPXQVgL.jpg
62766,58,Commander Zero,53a55e01c3a3687a2b000f38,2,13103,Percy Matsemela,17,None
66104,24,Soekie,52fe4285c3a36847f80254a9,0,13105,Thembi Nyandeni,10,None
66105,25,Gumboot Dlamini,52fe4285c3a36847f80254ad,2,13106,Owen Sejake,11,None
66106,26,Tsotsi's father,52fe4285c3a36847f80254b1,2,13108,Israel Makoe,12,/9WfkEr4UGJbsER0LKEYrOmI8yM5.jpg
66107,27,Tsotsi's Mother,52fe4285c3a36847f80254b5,0,13109,Sindi Khambule,13,None
66108,28,Young Tsotsi,52fe4285c3a36847f80254b9,2,13111,Benny Moshe,14,None
9853,112,Donald Bangs,589545599251415a5b00005f,0,13138,Benjamin Koldyke,15,/yiAiTL7p2x75KLTKGgLmNHJmgjG.jpg
59311,53,Gail Borah,5718fd109251417a22009df9,1,13152,Robin Mathews,13,/s35uIVK0NtOrFwVeDG9de66Vjwv.jpg
6184,26,Médecin,586c0a42c3a3682846000d6b,1,13191,Anne Loiret,15,/gy2jC26ZrEZCQdKPuTPBYoLXIXA.jpg
119361,55,Uniformed Cop,5820320892514168a700f37b,0,13195,Chris Edwards,47,None

need multiple column for multiple actors and crews
credits: cast: gender,id(represents actor name)
         crew: department(how to convert to #),gender,id
do we need multiple column as well? is there a way to iterate one elemnt in df
keywords: id
links: movieId, imdvId, 
movies_metadata: budget,genre(id,multiple),id,original language?,popularity,production company(id,multiple),production company(need to convert to #),release date, revenue,runtime,
##: excluding original title(id indicates title),non-adult, released movie only
ratings: userid, movieId,rating,timestamp

In [116]:
from pandas import Series
actordict['movieIDs'] = Series('', index=actordict.index)

In [119]:
for i in range(1000):
    castlist = (literal_eval(cleanmeta['cast'][i]))
    for cast in castlist:
        actordict.loc[actordict['id'] == cast['id'], 'movieIDs'] = actordict.loc[actordict['id'] == cast['id'], 'movieIDs'] + str(cleanmeta['id'][i])+','

In [120]:
actordict.head(2000)

,cast_id,character,credit_id,gender,id,name,order,profile_path,movieIDs
69723,78,Baron Papanoida,584a4128c3a368141f01b620,2,1,George Lucas,24,/mDLDvsx8PaZoEThkBdyaG1JxPdf.jpg,"306,87,"
6360,0,The Joker (voice),56bde12c925141734d003684,2,2,Mark Hamill,1,/ws544EgE5POxGJqq9LUfhnDrHtV.jpg,"11,1891,1892,"
16885,2,William Jones,54720ed292514112e70085bb,2,3,Harrison Ford,2,/7CcoVFTogQgex2kJkXKMe8qHZrC.jpg,"11,9331,5503,78,1891,85,28,1892,89,4477,9772,9..."
19171,7,Princess Leia Organa,52fe4a959251416c750e7137,1,4,Carrie Fisher,5,/pbleNurCYdrLFQMEnlQB2nkOR1O.jpg,"11,10379,1891,1892,525,639,816,11974,"
85184,14,Buchhändler,52fe44b7c3a36847f80a61bf,2,5,Peter Cushing,2,/fg7ufC0IMr6VasQzzdmTtX5ycQF.jpg,"11,"
4023,114,C-3PO,585375739251411a4602b913,2,6,Anthony Daniels,11,/cljvryjb3VwTsNR7fjQKjNPMaBB.jpg,"11,1891,1892,123,1893,"
8406,22,Crush (voice),5711829b9251410a68000ae0,2,7,Andrew Stanton,12,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,
45760,57,Additional Voice (voice),5617f1659251412af2002fd7,2,8,Lee Unkrich,40,/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg,
1191,54,Chick Hicks,59443007c3a36816f60002d5,2,10,Bob Peterson,17,/13YNM8lBKnK26MYd2Lp3OpU6JdI.jpg,
8410,27,Passenger Carl (voice),575a9ef6c3a3684188000f8c,2,12,Alexander Gould,17,/c4EHOhxzwx7uDBxC8zODvKAEFGX.jpg,
8395,3,Marlin (voice),52fe4af8c3a368484e1707af,2,13,Albert Brooks,1,/kahlMTdygrPJ28VYRhKPavYD9hs.jpg,"103,3050,1389,12626,"
8394,2,Dory (voice),52fe4af8c3a368484e1707ab,1,14,Ellen DeGeneres,0,/4LG2bFkqOzxzR1kpnoDcwIVuQTG.jpg,"3050,"
7368,26,Krang (voice),573e9d99c3a3687add0014df,2,18,Brad Garrett,13,/wXihtlnIvqP2oSNj33hiorDd3v9.jpg,"8839,9487,"
5709,10,Detective Sgt. Riley,57167558c3a3682e65004b95,1,19,Allison Janney,5,/fido6hwI8tFSZNt6HtP2DZH2eu6.jpg,"47502,9403,17127,6068,4951,10490,"
7211,154,Phyllis Adler,58c130d7925141731a0085dc,1,20,Elizabeth Perkins,56,/bkdWnnrMADJcFpKAOitMjQH3uEQ.jpg,"888,"
32805,25,Great Goblin,52fe4784c3a36847f8139fc9,2,22,Barry Humphries,16,/ccJHmzU8wzOe4sAmeVeScu5mygl.jpg,"6116,"
44415,23,Bubo (voice),52fe45bcc3a36847f80d7a91,2,23,Bill Hunter,12,/zCWRTbsiCKiHapWm2JRjIUHrpbS.jpg,"236,10409,"
4750,0,Robert Langdon,5475a40dc3a3687fd9000e10,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,"862,862,862,568,13,9800,858,857,11974,2619,104..."
11948,10,General Antiope,5685eeefc3a3684bcc01ef2d,1,32,Robin Wright,2,/tXfQTgcIEPP7gtVdJ44ZxZPhacn.jpg,"13,2493,10207,"
25517,113,The Smithsonian Narrator (voice),5897bfb89251417a8a001105,2,33,Gary Sinise,63,/n5AbjoNfONICaggp2f1QhYAjAoZ.jpg,"568,12106,13,3595,8688,"
3681,5,Gabriel Maxson,57150dea9251413d2200091b,2,34,Mykelti Williamson,5,/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg,"31357,949,11861,31357,949,11861,31357,949,1186..."
9101,3,Doris Miller,54c1c13a92514124c800288f,1,35,Sally Field,0,/ymhpsxujOO3a9qaGYSpkenCt9Le.jpg,"13,788,"
75537,3,Louis XVIII,52fe45009251416c9102435d,2,40,Orson Welles,2,/2DF3e98c7GGa1uJJvpgIiMPg0h2.jpg,"15,1480,874,10156,"
95053,33,Selma Jezkova,52fe420fc3a36847f8000a17,1,47,Björk,0,/cnsDUT4YeiEl8zCxYvRJCczqEnf.jpg,"3586,"
9511,0,Severus,554db205c3a3685e4c006e2b,2,48,Sean Bean,3,/iIxP2IzvcLgr5WaTBD4UfSqaV3q.jpg,"710,710,710,50512,8195,"
4639,1,Molly McGrath,53eb38070e0a265f50000e6d,1,49,Maria Bello,4,/tFkbad0JoWvYc6XYBITv6EfeLwR.jpg,"2112,"
11651,6,Le Juge,54fef88e9251410e56001823,1,50,Catherine Deneuve,2,/7MgouLf2vVhv275LtL7JFL1vWji.jpg,
21941,53,Childers,597216b59251417fa6011187,2,51,Richard Elfyn,19,/vaj3r7Wfezb5j2eVv7dIFiJXyyQ.jpg,
11265,9,Mike Webster,54c88500c3a36874ac005498,2,52,David Morse,4,/5PuSGfBw3Hsdo5jkhZ59NDFCZUm.jpg,"63,63,63,9802,11306,11412,686,9631,"
2760,5,Abram,56cf3b9fc3a3681e36002e10,2,53,Peter Stormare,11,/dDR0brp5L7fXDyEywrhjQv01LSg.jpg,"275,330,12628,115,95,8224,"
...,...,...,...,...,...,...,...,...,...
12855,5,Daniel,54ac32d1c3a3680c30009ee3,2,4451,Mark Webber,5,/s7QzjQ8qiaN7P2MSMa5NWkmefbd.jpg,
30015,31,Priscilla Reed,52fe4a3bc3a36847f81c2a81,1,4452,Lisa Marie,15,/ze1gOeR6qfAMAUlMqNYdV7KX3Pd.jpg,"522,75,"
18375,15,Romanov,54c2150792514124ed00336d,2,4455,Ulrich Thomsen,8,/l5WVZ7XetLbVvaRtTdThoVLcXKX.jpg,
10931,4,Phillip,55e4646c92514137e60041f8,2,4457,Thomas Bo Larsen,2,/qmxFA16OXlC5yDvHSV6tEipuAlC.jpg,
30693,4,Benedikte,52fe4adac3a368484e16a72b,0,4458,Paprika Steen,4,/7iz6g2gXDCVL9LFjqmVV8KwGvNP.jpg,
30701,18,Office Lady,52fe4adac3a368484e16a765,0,4459,Birthe Neumann,12,/gTpInxjTPnPCZr0bRyZAQqEQGJQ.jpg,
30690,3,Ida,52fe4adac3a368484e16a727,1,4460,Trine Dyrholm,1,/ue2dx6F4g7uOR5nZJh8YEFlccJd.jpg,
33935,22,,550c875f9251414695004078,2,4464,Bjarne Henriksen,9,/kG3ZlQlMDbl61gJmtpgu2P7LHfl.jpg,
10381,6,Shifu (voice),52fe4a8b9251416c750e5a39,2,4483,Dustin Hoffman,2,/ffKPo8ATHVXME6cgA5BDyvy2df1.jpg,"6950,819,37247,9770,586,10153,3116,12102,380,8..."
64509,29,Snotty Boy / Mr. Beady / Snotty Boy's Father (...,52fe4545c3a36847f80c4d69,2,4489,Steve Oedekerk,15,/qUkJ4GbyAdloVjVxCUlxLT23wIe.jpg,
4201,0,Carol Vanstone,56d047ccc3a3681e360059d2,1,4491,Jennifer Aniston,3,/4d4wvNyDuvN86DoneawbLOpr8gH.jpg,"11363,9413,17127,1542,"
25572,5,Dr. Bowman,52fe4d64c3a368484e1e6be5,2,4492,Philip Baker Hall,3,/eH7GrivSuLEvhJL85qPkhNvg3E7.jpg,"9772,4995,37165,2109,9798,11252,"
81441,5,Susan Ortega,52fe4236c3a36847f800c657,1,4493,Catherine Bell,3,/7fLeVjQMTGbsbd0WfgaZSZ4wan2.jpg,
45974,14,Olivia,52fe46719251416c91054a3d,1,4494,Lisa Ann Walter,10,/zfu2YSXCXXQY7pTPN8KuH8Ja90.jpg,
736,0,Gru / Dru (voice),577c8306925141577e0021a4,2,4495,Steve Carell,0,/dIbDse0ULWgA5QVoQDSFogczuc.jpg,
15901,14,Dr. Marcus,531758bcc3a368136e002b87,1,4496,Nora Dunn,11,/wX89q3KHGOe0z47LU6UmukgEdo7.jpg,"10879,9452,3525,10490,"
81445,10,Dallas Coleman,52fe4236c3a36847f800c667,0,4498,Paul Satterfield,8,/cpGi1KJVDAcG4eVN4yWCPurKeZe.jpg,
81294,24,Pete,52fe4233c3a36847f800b991,0,4510,Harry Bugin,12,/p9RFNSsIUKaSAsSk8xBdKeuH4j4.jpg,"115,"
28714,4,Jack Dudman,52fe4b7ac3a36847f82059d7,2,4512,James Woods,3,/fl5Jx1WFvBcg1b9VZRfXTH6LPUE.jpg,"10858,524,10858,524,10858,524,2636,11970,686,2..."
17145,15,Judge Florence-Marie Cooper,548939e4c3a3687b91000c89,1,4513,Elizabeth McGovern,8,/egt1d836NcYDTeiokz5Im8gHU4r.jpg,
101016,6,Amanda Prendergast,52fe46299251416c9104b4a5,1,4514,Tuesday Weld,5,/wLVlljfTvppkfdQz9fNDizNpSuK.jpg,"22527,"
25636,6,Jason Wheeler,52fe4ec2c3a36847f82a65bd,2,4515,Treat Williams,3,/uKejRJTEVOy6IOsJX2mJH3SwbTl.jpg,"400,400,400,9826,1891,4477,9457,30943,"
62628,14,Joseph Palmi,52fe42eac3a36847f802c6bb,2,4517,Joe Pesci,12,/2CaYAhUZgkAeqtpIzuqGcqArsOy.jpg,"524,524,524,1607,771,769,1578,944,942,943,10377,"
28533,9,Tim,52fe45d1c3a368484e070b0b,2,4520,William Forsythe,5,/3oaz2y7hIm3r3OyDKvQ1i2D8cLR.jpg,"400,400,400,9271,9802,378,8592,"
33314,5,Jerry Feldman,52fe474bc3a36847f812d9f1,2,4521,Burt Young,2,/rbSsSkQ72FoGcvwIHUxQWJ92I3W.jpg,"829,1366,1367,1371,1374,1375,"
13874,10,Sam,5389f37b0e0a26145900155a,1,4529,Sylvie Testud,10,/ctKxr2mIPIXYM6tpuxZLRUSyttS.jpg,
53693,36,Peter Berg,536b63310e0a2647db00b8cc,2,4534,Matthias Habich,12,/sFXTIM18w4vjXqyJom3NRIIsvgq.jpg,
54433,39,Dieter Wieland,53e025cdc3a3686c4d002f5a,2,4539,Hubert Mulzer,29,None,
108125,13,Windbride,52fe45709251416c910325cb,0,4540,Birge Schade,10,None,"34636,"
7734,7,Blue Caterpillar (voice),546b0964c3a3680d69001272,2,4566,Alan Rickman,4,/7tADZs4ILE93oJ5pAh6mKQFEq2m.jpg,"4584,4584,4584,22279,1770,8367,562,"

In [152]:
#print(actordict['movieIDs'].values[0])
for i in range(len(actordict)):
    #print(actordict['movieIDs'].values[i])
    if not actordict['movieIDs'].values[i] == '':
        listActor = actordict['movieIDs'].values[i][:-1].split(',')
        #print(listActor)
        setActor = set(listActor)
        stringActor = str(list(setActor))
        #print(stringActor)
        actordict['movieIDs'].values[i] = stringActor
actordict['movieIDs']

69723                                        ['306', '87']
6360                                ['1891', '11', '1892']
16885    ['5503', '4477', '3525', '78', '89', '87', '18...
19171    ['11974', '525', '816', '10379', '1891', '639'...
85184                                               ['11']
4023                 ['1891', '1893', '123', '11', '1892']
8406
45760
1191
8410
8395                      ['103', '3050', '12626', '1389']
8394                                              ['3050']
7368                                      ['9487', '8839']
5709     ['10490', '47502', '9403', '17127', '6068', '4...
7211                                               ['888']
32805                                             ['6116']
44415                                     ['10409', '236']
4750     ['862', '11974', '568', '2619', '10466', '857'...
11948                              ['13', '2493', '10207']
25517               ['568', '3595', '12106', '8688', '13']
3681     ['949', '31357', '1701', '1634', '11861', '13'...
9101                                         ['13', '788']
75537                       ['1480', '15', '10156', '874']
95053                                             ['3586']
9511                              ['50512', '710', '8195']
4639                                              ['2112']
11651
21941
11265      ['11412', '9802', '63', '11306', '686', '9631']
2760          ['12628', '95', '8224', '330', '275', '115']
                               ...
31310
31313
31314
3912
3921
3922
3923
3924
3925
3926
3927
3929
3930
3931
3932
3933
13860
55590
55592
55599
55600
55605
55830
55607
55834
55852
84820
66851
66856
967
Name: movieIDs, Length: 65511, dtype: object